<footer>
  <div class='container' >
    <div class='row' >
      <div class='col-sm-5' >
        <h3 class='lead' >
          <strong>Information</strong> and
          <strong> Copyright</strong>
        </h3>
        <p>
            All Data from:
            <a href='https://infostat.nsi.bg/infostat'>
              <strong> Infostat </strong>
            </a>
            by
            <a href='http://www.nsi.bg/en'>
              <strong> NSI </strong>
            </a>
        <p>
          Powered by
          <strong> Express</strong>,
          <strong> MongoDB</strong>,
          <strong> Angular4</strong> and
          <strong> Plot.ly</strong>
        </p>
        <p>@ 2017 Mihail Kovashki</p>
      </div>
      <div class='col-sm-3' >
        <h3 class='lead' >Author</h3>
        <a href='https://github.com/mihail-kovashki'>
          <strong> Mihail Kovashki </strong>
        </a>
      </div>
    </div>
  </div>
</footer>